.job-app-label-container {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
}
.job-app-data-label-container {
    width:250px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.job-app-container {
    display:flex;
    justify-content: space-evenly;
    /* background-color: rgb(0, 68, 203); */
    background-image: linear-gradient(to bottom right, rgba(0, 128, 255, 0.592), rgb(0, 22, 193));
    height: 100px;
    border-radius: 10px;
    border-width: 5;
    border-style: solid; 
    border-color: rgb(46, 158, 255);
    margin-bottom: 10px;
    align-items: center;
 
}

a:any-link {
    color: white;
}

.job-app-data-container {
    width:190px;
    height: 60px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.popup-container{
    display:flex;
    margin-top:10px;
}   
.job-app-button {
    background-color: white;
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 10px;
    font-size:18px;
    font-weight: bold;
    transition: 0.3s;
}

.job-app-button:hover {
    background-color: lightgray;
}